*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background:orange;
}
.header>img{
    padding:6px 0;
    padding-left:10%;
}
.middle{
    padding:20px 20%;
    padding-right:10%;
}
.middle::after{
    content: "";
    display: block;
    clear: both;
}
.middle>.left{
    width: 20%;
    float: left;
}
.middle>.left>ul{
    list-style: none;
}
.middle>.left>ul>li{
    border:1px solid #ddd;
    height:50px;
    line-height: 50px;
    padding-left:20px;
}
.middle>.left>ul>li:last-child,.middle>.left>ul>li:hover{
    color:orange;
    border-left:2px solid orange;
    cursor: pointer;
}
.middle>.right{
    width:80%;
    float: left;
}
.middle>.right>#position{
    width:90%;
    height:800px;
    background:#ddd;
    margin:20px auto;
    padding:0px 30px;
}
.middle>.right>#position>img{
    width:100%;
}
.middle>.right>h1{
    padding-left:5%;
}
.middle>.right>h1>span{
    color:rgba(0,0,0,0.3);
    font-size: 24px;
}
.middle>.right>ul{
    list-style: none;
    display: flex;
    width:90%;
    margin:60px auto;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.middle>.right>ul>li>p{
    text-align: center;
    font-size: 18px;
    margin:10px 0;
}
.middle>.right>ul>li>p>span{
    font-size: 12px;
}
footer{
    width:100%;
    height:200px;
}
iframe{
    width:100%;
    height:100%;
}